<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://tools.dxfeed.com/webservice/js/cometd/org/cometd.js"></script>
    <script src="dxfeed.cometd.js"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="symbol" @keyup.enter="updateSymbol" placeholder="Symbol">
      <span v-if="quote">{{ quote.symbol }} - {{quote.description}}: {{ quote.last }}</span>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          symbol: "",
          quote: null
        },
        methods: {
          updateSymbol: function(event) {
            this.quote = dxFeed.getQuote(this.symbol)
          }
        }
      })
    </script>
  </body>
</html>
