<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://tools.dxfeed.com/webservice/js/cometd/cometd.js"></script>
    <script src="dxfeed.cometd.js"></script>
  </head>
  <body>
    <div id="app">
      <quote-view v-for="symbol in symbols" v-bind:symbol="symbol" v-bind:key="symbol"></quote-view>
      <quote-input></quote-input>
    </div>
    <script>

      Vue.component('quote-view', {
        props: ['symbol'],
        data: function() {
          return {
            quote: null
          }
        },
        watch: {
          symbol: function (val) {
            this.updateQuote(val)
          }
        },
        created: function() {
          this.updateQuote(this.symbol)
        },
        methods: {
          updateQuote: function(symbol) {
            this.quote = symbol ? dxFeed.getQuote(symbol) : null
          }
        },
        template: '<div>{{symbol}}<span v-if="quote"> - {{quote.description}}: {{ quote.last }}</span></div>'
      })

      Vue.component('quote-input', {
        data: function() {
          return {
            symbol: "",
            symbolInput: null
          }
        },
        methods: {
          updateSymbol: function(event) {
            this.symbol = this.symbolInput.toUpperCase()
          }
        },
        template: '<div><input v-model="symbolInput" @keyup.enter="updateSymbol" placeholder="Symbol"> <quote-view style="display: inline" v-bind:symbol="symbol"/></div>'
      })

      var app = new Vue({
        el: "#app",
        data: {
          symbols: ['SPX', 'AAPL', 'IBM']
        }
      })
    </script>
  </body>
</html>
